<!DOCTYPE html>
<app-toolbar-component></app-toolbar-component>
<router-outlet>

</router-outlet>

<!--<app-home-component *ngIf='show_homepage'></app-home-component>
<app-routepage-component *ngIf='show_routepage'></app-routepage-component>
<app-signup-component *ngIf='show_signup'></app-signup-component>
<app-login-component *ngIf='show_login'></app-login-component>-->

<!--    <nav id = 'navbar' mat-tab-nav-bar >
        <a mat-tab-link *ngFor="let link of links"
           (click)="activeLink = link"
           [active]="activeLink == link"> {{link}} </a>
    </nav>-->



